{:taoensso.timbre/logging-config {:level :debug}

 ;:legal-origins                  [".*"]

 :app.background-geolocation/gpx-dir "/tmp/gpx"

 :ring.middleware/defaults-config {:security {:anti-forgery false}}}  ;; for ci-tests

